/* oswald-regular - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald-v41-latin-regular.woff2") format("woff2"), url("../fonts/oswald-v41-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald-v41-latin-500.woff2") format("woff2"), url("../fonts/oswald-v41-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-family: "Gilroy", "Arial", sans-serif;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header-top {
  border-bottom: 1px solid #eeeeee;
}

.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 16px;
}

.header-top__addr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  font-style: normal;
}

.header-top__addr-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.header-top__addr-text::before {
  content: "";
  width: 14px;
  height: 16px;
  display: block;
  background-image: url("./../images/location.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 7px;
}

.header-top__addr-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000000;
}

.header-top__addr-email::before {
  content: "";
  width: 20px;
  height: 16px;
  display: block;
  background-image: url("./../images/mail.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 7px;
}

.header-top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__right-lang {
  background-color: transparent;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("./../images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: center right;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  width: 57px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 31px;
}

.socials__item:not(:last-child) {
  margin-right: 20px;
}

.header-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__image {
  display: block;
  width: 217px;
  height: 50px;
}

.header-bottom__wrapper {
  max-width: 655px;
}

.header-bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  margin-right: 34px;
  white-space: nowrap;
}

.nav__link--active {
  color: #76a713;
}

.nav__link:last-child {
  margin-right: 0;
}

.login-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 30px;
  background-color: #76a713;
  text-decoration: none;
}

.login-btn:hover {
  color: #76a713;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("./../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  border: none;
  background-color: #eeeeee;
  margin: 0 10px;
  padding: 0;
}

.basket {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #eeeeee;
}

.basket__image {
  position: absolute;
  top: 17px;
  left: 13px;
}

.basket__counter {
  position: absolute;
  top: 8px;
  right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13px;
  height: 13px;
  background-color: #76a713;
  color: #ffffff;
  font-size: 8px;
  line-height: 10px;
  font-weight: 600;
  border-radius: 50%;
}

.about {
  padding-top: 200px;
  padding-bottom: 105px;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 22px;
  margin-right: 28px;
}

.img-about__span {
  margin-top: 30px;
  margin-right: 25px;
  padding: 11px 62px;
  color: #76A713;
  border: 1.5px dashed rgba(118, 167, 19, 0.5);
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.03em;
}

.about__heading {
  width: 517px;
  margin: 0;
  margin-top: -23px;
  margin-bottom: 20px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  color: #191D28;
}

.about__text {
  width: 570px;
  margin-bottom: 25px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #888888;
}

.about__text-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 468px;
  height: 100%;
  margin: 0;
  font-family: 'Gilroy';
  font-style: italic;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  height: 56px;
  color: #aaaaaa;
  background-image: url(./../images/blockquote.png);
  background-repeat: no-repeat;
  background-position: 380px 30px;
}

.about__span-line {
  display: inline-block;
  width: 1px;
  height: 35px;
  margin-top: 6px;
  margin-right: 20px;
  background-color: #76A713;
}

.right-box__name {
  margin-top: 14px;
  margin-bottom: 3px;
}

.right-box__profession {
  margin: 0;
}

.categories {
  background: #F8F8F8;
  padding-top: 100px;
}

.categories-box__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.categories-box__item {
  margin-right: 30px;
  width: 270px;
  height: 354px;
  text-align: center;
  background-color: #F8F8F8;
  border: 1px solid #76A713;
}

.categories-box__item:hover {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.categories-box {
  margin-bottom: 100px;
}

.categories-box__item:last-child {
  margin-right: 0;
}

.categories-heading {
  margin: 0 auto;
  margin-top: 156px;
  margin-bottom: 13px;
  width: 137px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #76A713;
}

.categories-text {
  margin: 0 auto;
  text-align: center;
  width: 223px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #888888;
}

.categories-button {
  margin-top: 27px;
  border: none;
  border: 1px solid #76A713;
  width: 40px;
  height: 40px;
}

.categories-button:hover {
  background-color: #ffffff;
  border: none;
  border: 1px solid #cccccc;
}

.button__img {
  margin-top: 27px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
}

.categories-vegitables {
  background-image: url(./../images/garlic-tomato.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 130px;
  background-position: 40px 20px;
}

.categories-fresh {
  background-image: url(./../images/strawberry.png);
  background-repeat: no-repeat;
  background-position: 60px 20px;
}

.categories-eggpent {
  background-image: url(./../images/eggplant.png);
  background-repeat: no-repeat;
  background-position: 35px 20px;
}

.categories-tomato {
  background-image: url(./../images/tomato.png);
  background-repeat: no-repeat;
  background-position: 80px 30px;
}

.active-box__item {
  text-align: center;
  width: 270px;
  height: 354px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.active-heading {
  color: #76A713;
}

.active-text {
  color: #888888;
}

.active-button {
  margin-top: 27px;
  width: 120px;
  height: 40px;
  background: #76A713;
  color: #ffffff;
  border: none;
}

.active-button:hover {
  color: #76A713;
  background: #ffffff;
  border: 1px solid #dddddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 80px;
  width: 100%;
}

.feature__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
  width: 50%;
  height: 300px;
  background-color: #76A713;
  background-image: url(./../images/blueprint.png);
  background-repeat: no-repeat;
}

.future__left-section {
  padding: 0;
  margin: 0;
}

.feature__left-text {
  width: 196px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.feature__left-heading {
  width: 207px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  color: #FFFFFF;
}

.feature__left-link {
  width: 110px;
  height: 40px;
  padding: 11px 19px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  background-color: #FF6600;
  color: #FFFFFF;
  text-decoration: none;
}

.feature__left-link:hover {
  color: #FF6600;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.feature__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
  width: 50%;
  height: 300px;
  background-color: #FF6600;
  background-image: url(./../images/fruits-vegetables.png);
  background-repeat: no-repeat;
}

.feature__right-text {
  width: 165px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.feature__right-heading {
  width: 196px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  color: #FFFFFF;
}

.feature__right-link {
  width: 110px;
  height: 40px;
  padding: 11px 19px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background-color: #76A713;
  color: #FFFFFF;
  text-decoration: none;
}

.feature__right-link:hover {
  color: #76A713;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.featured-product__top-img {
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
}

.featured-product__top-span {
  position: absolute;
  margin: 0;
  margin-top: 20px;
  padding: 4px 11px;
  color: #ffffff;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 150%;
  background-color: #FF6600;
}

.featured-product__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
  list-style: none;
}

.featured-product__item:last-child {
  margin: 0;
  margin-right: -20px;
}

.featured-product__item {
  width: 370px;
}

.product__item-active {
  -webkit-box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
}

.featured-product__item:hover {
  -webkit-box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.featured-product__top {
  height: 370px;
  border-left: 2px solid #DDDDDD;
  border-top: 2px solid #DDDDDD;
  border-right: 2px solid #DDDDDD;
}

.featured-product__top:hover {
  border-top: 2px solid #76A713;
  border-right: 2px solid #76A713;
  border-left: 2px solid #76A713;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.featured-img {
  margin-top: 50px;
  margin-left: 60px;
}

.feature-product__active {
  height: 370px;
  background: #FFFFFF;
  border-top: 2px solid #76A713;
  border-right: 2px solid #76A713;
  border-left: 2px solid #76A713;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
}

.featured-product__heading {
  margin: 0;
  padding-bottom: 42px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #191D28;
}

.featured__icon:first-child {
  margin-top: 20px;
}

.featured__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 310px;
  margin-bottom: 10px;
}

.featured__icon:last-child {
  margin-bottom: 0;
}

.featured__img-papper {
  margin-top: -130px;
  margin-left: 90px;
}

.featured__img-tomato {
  width: 210px;
  height: 197px;
  margin-top: -130px;
  margin-left: 100px;
}

.featured-product__bottom {
  height: 213px;
  background: #F8F8F8;
  text-align: center;
  margin-top: -20px;
}

.feature-product__price {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #76A713;
}

.feature-product__star {
  margin-bottom: 30px;
}

.feature-product__link {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 40px;
}

.featured-button {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15 13px;
}

.featured-left-button {
  margin-right: 15px;
  border: none;
  border: 1px solid #76A713;
  cursor: pointer;
  background-color: #76A713;
  color: #ffffff;
}

.featured-right-button {
  border: none;
  border: 1px solid #76A713;
  cursor: pointer;
}

.funfact {
  margin-top: 100px;
  margin-bottom: -120px;
}

.funfact__section {
  background-color: #76a713;
  background-image: url(./../images/funfact-bg.png);
  background-repeat: no-repeat;
  height: 291px;
}

.funfact__list {
  margin-left: 30px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  list-style: none;
  color: #ffffff;
}

.funfakt__heading {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 78px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}

.funfakt__span {
  font-family: "Oswald";
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
}

.main {
  padding-top: 100px;
  padding-bottom: 178px;
  background-color: rgba(118, 167, 19, 0.31);
}

.main-button__left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: 130px;
  margin-left: -80px;
  background-color: #76A713;
  cursor: pointer;
}

.main-button__left:hover {
  background-color: #76b123;
}

.main-button__left__img {
  margin: 12px 2px;
}

.main-button__right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 40px;
  height: 40px;
  margin-top: -148px;
  margin-left: 1155px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border: 1px solid #76A713;
  cursor: pointer;
}

.main-button__right:hover {
  background-color: #76b123;
}

.main-button__right__img {
  margin: 10px 2px;
}

.main-top {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__left {
  width: 473px;
  margin-top: 80px;
}

.main-left__heading {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 74px;
  text-transform: uppercase;
  width: 473px;
}

.main-left__span {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  color: #76A713;
}

.margin-right__img {
  width: 684px;
  height: 440px;
}

.main-right__logo-name {
  margin-top: 60px;
  margin-left: -120px;
}

.main__left__link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #76A713;
  color: #ffffff;
  padding: 15px 38px;
}

.main__left__link:hover {
  color: #76A713;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-bottom {
  margin: 0;
  margin-top: 117px;
  margin-bottom: -300px;
}

.main-bottom__box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding-right: 30px;
  padding-left: 60px;
}

.main-bottom__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 50px;
}

.span-line {
  width: 1px;
  height: 50px;
  background-color: #dddddd;
  margin-left: -100px;
}

.main-bottom__heading {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.main-bottom__text {
  margin-top: 6px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.box-free::before {
  content: '';
  position: absolute;
  background-image: url(../images/free-shipping.png);
  width: 60px;
  height: 41px;
  margin-left: -80px;
  background-repeat: no-repeat;
}

.box-ruturns::before {
  content: '';
  position: absolute;
  background-image: url(./../images/day-returns.png);
  width: 60px;
  height: 60px;
  margin-left: -80px;
  background-repeat: no-repeat;
}

.box-fresh::before {
  content: '';
  position: absolute;
  background-image: url(./../images/fresh.png);
  width: 60px;
  height: 55px;
  margin-left: -80px;
  background-repeat: no-repeat;
}

.box-summer::before {
  content: '';
  position: absolute;
  background-image: url(./../images/summer-offer.png);
  width: 60px;
  height: 60px;
  margin-left: -80px;
  background-repeat: no-repeat;
}

.products {
  padding: 0;
  padding-top: 77px;
  padding-bottom: 100px;
}

.products__heading {
  margin: 0;
  margin-bottom: 46px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  color: #191D28;
  text-align: center;
  text-transform: uppercase;
}

.product-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  list-style: none;
  display: flex;
  padding-bottom: 30px;
}

.product-top__item {
  margin-right: 10px;
  padding: 5px 14px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  background-color: #EBEBEB;
  color: #000000;
}

.product-item__top-section-span {
  margin: 0;
  padding: 0;
  padding: 4px 11px;
  margin-top: -70px;
  margin-left: -64px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 150%;
  position: absolute;
  background-color: #FF6600;
  color: #ffffff;
}

.product-top__item:last-child {
  margin-right: 0;
}

.product-top__item:hover {
  background-color: #76A713;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-top__active {
  background-color: #76A713;
  color: #ffffff;
}

.product-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  list-style-type: none;
  margin-bottom: 30px;
}

.product-list:last-child {
  margin-bottom: 0;
}

.product-item {
  border: 1px solid #DDDDDD;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.product-item:hover {
  -webkit-box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-item__active {
  -webkit-box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
}

.reproduct__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: 260px;
  margin-top: -50px;
}

.like__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: 260px;
  margin-top: 10px;
}

.all-size__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: 260px;
  margin-top: 10px;
}

.product-item__top-section {
  border-left: 2px solid #DDDDDD;
  border-top: 2px solid #DDDDDD;
  border-right: 2px solid #DDDDDD;
}

.product-item__top-section:hover {
  border-left: 2px solid #76A713;
  border-top: 2px solid #76A713;
  border-right: 2px solid #76A713;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-item__active-img {
  border-left: 2px solid #76A713;
  border-top: 2px solid #76A713;
  border-right: 2px solid #76A713;
}

.product-item__heading {
  margin-bottom: 10px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.product-item__text {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #76A713;
}

.product-item__position {
  margin-top: 10px;
}

.product-item__star {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: inline-block;
}

.link {
  margin-top: 30px;
  text-decoration: none;
  padding: 11px 18px;
  background-color: #76A713;
  color: #FFFFFF;
}

.link:hover {
  background-color: #ffffff;
  color: #76A713;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-item__link:hover {
  color: #76A713;
  background-color: #F8F8F8;
  -webkit-box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blackberry {
  margin: 0;
  padding: 0;
  padding: 70px 39px;
  width: 370px;
  height: 340px;
}

/* .product-item__img-link {
    padding: 70px 39px;
    
  } */
.avocado {
  margin: 0;
  padding: 0;
  padding: 81px 62px;
  width: 370px;
  height: 340px;
}

.kiwi {
  margin: 0;
  padding: 0;
  padding: 32px 44px;
  width: 370px;
  height: 340px;
}

.lemon {
  margin: 0;
  padding: 0;
  padding: 120px 34px;
  width: 370px;
  height: 340px;
}

.product-item__bottom-box {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 370px;
  height: 213px;
  background: #F8F8F8;
}

.testimonials__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials__left {
  margin-top: 200px;
}

.testimonials__left-img {
  margin: 0;
  margin-left: -115px;
}

.testimonials__right-img {
  margin: 0;
  margin-left: 230px;
}

.testimonials__right {
  position: relative;
  margin-bottom: 77px;
}

.testimonials__right-box {
  width: 570px;
  height: 400px;
  padding: 53px 33px 60px  37px;
  background-color: #ffffff;
  position: absolute;
  top: 250px;
  right: 100px;
  -webkit-box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
}

.testimonials__right-box__text {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #AAAAAA;
}

.testimonials__right-box__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.testimonials__right-box__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__right-box__stars-box {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__right-box__stars {
  margin: 0;
  margin-top: 6px;
  margin-left: 1px;
}
/*# sourceMappingURL=main.css.map */