/* oswald-regular - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald-v41-latin-regular.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/oswald-v41-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald-v41-latin-500.woff2") format("woff2"),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/oswald-v41-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
  url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
  url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
  url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Gilroy", "Arial", sans-serif;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-top {
  border-bottom: 1px solid #eeeeee;
}

.header-top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 16px;
}

.header-top__addr {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  font-style: normal;
}

.header-top__addr-text {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.header-top__addr-text::before {
  content: "";
  width: 14px;
  height: 16px;
  display: block;
  background-image: url("./../images/location.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 7px;
}

.header-top__addr-email {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.header-top__addr-email::before {
  content: "";
  width: 20px;
  height: 16px;
  display: block;
  background-image: url("./../images/mail.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 7px;
}

.header-top__right {
  display: flex;
  align-items: center;
}

.header-top__right-lang {
  background-color: transparent;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("./../images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: center right;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  width: 57px;
}

.socials {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 31px;
}

.socials__item:not(:last-child) {
  margin-right: 20px;
}

.header-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__image {
  display: block;
  width: 217px;
  height: 50px;
}

.header-bottom__wrapper {
  max-width: 655px;
}

.header-bottom__wrapper {
  display: flex;
  align-items: center;
}

.nav {
  margin-right: 48px;
  display: flex;
}

.nav__link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  margin-right: 34px;
  white-space: nowrap;
}

.nav__link--active {
  color: #76a713;
}

.nav__link:last-child {
  margin-right: 0;
}

.login-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 30px;
  background-color: #76a713;
  text-decoration: none;
}

.search-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("./../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  border: none;
  background-color: #eeeeee;
  margin: 0 10px;
  padding: 0;
}

.basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #eeeeee;
}

.basket__image {
  position: absolute;
  top: 17px;
  left: 13px;
}

.basket__counter {
  position: absolute;
  top: 8px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  background-color: #76a713;
  color: #ffffff;
  font-size: 8px;
  line-height: 10px;
  font-weight: 600;
  border-radius: 50%;
}



.main {
  padding-top: 100px;
  padding-bottom: 178px;
  background-color: rgba(118, 167, 19, 0.31);
}

.main-button__left {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: 130px;
  margin-left: -80px;
  background-color: #76A713;
  cursor: pointer;
}   

.main-button__left__img {
  margin: 12px 2px;
}

.main-button__right {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40px;
  height: 40px;
  margin-top: -148px;
  margin-left: 1155px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.main-button__right__img {
  margin: 10px 2px;
}

.main-top {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.main__left {
  width: 473px;
  margin-top: 80px;
}

.main-left__heading {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 74px;
  text-transform: uppercase;
  width: 473px;
}

.main-left__span {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  color: #76A713;
}

.main__left__link {
  margin-top: -400px;
}

.margin-right__img {
  width: 684px;
  height: 440px;
}

.main-right__logo-name {
  margin-top: 60px;
  margin-left: -120px;
}

.main__left__link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #76A713;
  color: #ffffff;
  padding: 15px 38px;
} 

.main-bottom {
  margin: 0;
  margin-top: 117px;
  margin-bottom: -300px;
  
}

.main-bottom__box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding-right: 30px;
  padding-left: 60px;
}

.main-bottom__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 50px;
} 

.span-line {
  width: 1px;
  height: 50px;
  background-color: #dddddd;
  margin-left: -100px;
}

.main-bottom__heading {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.main-bottom__text {
  margin-top: 6px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #666666
}

.box-free::before {
  content: '';
  position: absolute;
  background-image: url(../images/free-shipping.png);
  width: 60px;
  height: 41px;
  margin-left: -80px;
  background-repeat: no-repeat;
}

.box-ruturns::before {
  content: '';
  position: absolute;
  background-image: url(./../images/day-returns.png);
  width: 60px;
  height: 60px;
  margin-left: -80px;
  background-repeat: no-repeat;
}

.box-fresh::before {
  content: '';
  position: absolute;
  background-image: url(./../images/fresh.png);
  width: 60px;
  height: 55px;
  margin-left: -80px;
  background-repeat: no-repeat;
}

.box-summer::before {
  content: '';
  position: absolute;
  background-image: url(./../images/summer-offer.png);
  width: 60px;
  height: 60px;
  margin-left: -80px;
  background-repeat: no-repeat;
}

.about {
  padding-top: 200px;
  padding-bottom: 105px;
}

.about__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
  
}

.about__left-box {
  display: flex;
}

.img-about {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  margin-right: 28px;
}

.img-about__span {
  margin-top: 30px;
  margin-right: 25px;
  padding: 11px 62px;
  color: #76A713;
  border: 1.5px dashed rgba(118, 167, 19, 0.5);
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.03em;
}

.about__heading {
  width: 517px;
  margin: 0;
  margin-top: -23px;
  margin-bottom: 20px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  color: #191D28;
}

.about__text {
  width: 570px;
  margin-bottom: 25px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #888888;
}


.about__text-other {
  display: flex;
  width: 468px;
  height: 100%;
  margin: 0;
  font-family: 'Gilroy';
  font-style: italic;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  height: 56px; 
  color: #aaaaaa; 
  background-image: url(./../images/blockquote.png);
  background-repeat: no-repeat;
  background-position: 380px 30px;
}

.about__span-line {
  display: inline-block;
  width: 1px;
  height: 35px;
  margin-top: 6px;
  margin-right: 20px;
  background-color: #76A713;
}

.right-box__name {
  margin-top: 14px;
  margin-bottom: 3px;
}

.right-box__profession {
  margin: 0;
}

.categories-box__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.categories-box__item {
  margin-right: 30px;
  width: 270px;
  height: 354px;
  text-align: center;
  background-color: #F8F8F8;
  border: 1px solid #76A713;
}

.categories-box__item:hover {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  transition: all 0.3s ease;
}

.categories-box {
  margin-bottom: 100px;
}

.categories-box__item:last-child {
  margin-right: 0;
}

.categories-heading {
  margin: 0 auto;
  margin-top: 156px;
  margin-bottom: 13px;
  width: 137px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #76A713;
}

.categories-text {
  margin: 0 auto;
  text-align: center;
  width: 223px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%; 
  color: #888888;
}

.categories-button {
  margin-top: 27px;
  background-color: #F8F8F8;
  border: none;
  border: 1px solid #76A713;
  width: 40px;
  height: 40px;
}

.categories-button:hover {
  background-color: #ffffff;
  border: none;
  border: 1px solid #cccccc;
}

.button__img {
  margin-top: 27px;
  color: #ffffff;
  transition: all 0.3s ease;
  border: none;
}

.categories-vegitables {
  background-image: url(./../images/garlic-tomato.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 130px;
  background-position: 40px 20px;
}

.categories-fresh {
  background-image: url(./../images/strawberry.png);
  background-repeat: no-repeat;
  background-position: 60px 20px;
}

.categories-eggpent {
  background-image: url(./../images/eggplant.png);
  background-repeat: no-repeat;
  background-position: 35px 20px;
}

.categories-tomato {
  background-image: url(./../images/tomato.png);
  background-repeat: no-repeat;
  background-position: 80px 30px;
}


.active-box__item {
  text-align: center;
  width: 270px;
  height: 354px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.active-heading {
  color: #76A713;
}

.active-text {
  color: #888888;
}

.active-button {
  margin-top: 27px;
  width: 120px;
  height: 40px;
  background: #76A713;
  color: #ffffff;
  border: none;
}

.active-button:hover {
  color: #76A713;
  background: #ffffff;
  border: 1px solid #dddddd;
  transition: all 0.3s ease;
}




















