.featured-product__top-img {
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
  }
  
  .featured-product__top-span {
    position: absolute;
    margin: 0;
    margin-top: 20px;
    padding: 4px 11px;
    color: #ffffff;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 150%;
    background-color: #FF6600;
  }
  
  .featured-product__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    list-style: none;
  }
  
  .featured-product__item:last-child {
    margin: 0;
    margin-right: -20px;
  }
  
  .featured-product__item {
    width: 370px;
  }
  
  .product__item-active {
    box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
  }
  
  .featured-product__item:hover {
    box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  .featured-product__top {
    height: 370px;
    border-left: 2px solid #DDDDDD;
    border-top: 2px solid #DDDDDD;
    border-right: 2px solid #DDDDDD;
  }
  
  
  .featured-product__top:hover {
    border-top: 2px solid #76A713;
    border-right: 2px solid #76A713;
    border-left: 2px solid #76A713;
    transition: all 0.3s ease;
  }
  
  .featured-img {
    margin-top: 50px;
    margin-left: 60px;
  }
  
  .feature-product__active {
    height: 370px;
    background: #FFFFFF;
    border-top: 2px solid #76A713;
    border-right: 2px solid #76A713;
    border-left: 2px solid #76A713;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
  }
  
  .featured-product__heading {
    margin: 0;
    padding-bottom: 42px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #191D28;
  }
  
  .featured__icon:first-child {
    margin-top: 20px;
  }
  
  
  .featured__icon {
    display: flex;
    flex-direction: column;
    margin-left: 310px;
    margin-bottom: 10px;
  }
  
  .featured__icon:last-child {
    margin-bottom: 0;
  }
  
  .featured__img-papper {
    margin-top: -130px;
    margin-left: 90px;
  }
  
  .featured__img-tomato {
    width: 210px;
    height: 197px;
    margin-top: -130px;
    margin-left: 100px;
  }
  
  .featured-product__bottom {
    height: 213px;
    background: #F8F8F8;
    text-align: center;
    margin-top: -20px;
  }
  
  .feature-product__price {
    margin: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #76A713;
  }
  
  .feature-product__star {
    margin-bottom: 30px;
  }
  
  .feature-product__link {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 40px;
  }
  
  .featured-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 15 13px;
  }
  
  .featured-left-button {
    margin-right: 15px;
    border: none;
    border: 1px solid #76A713;
    cursor: pointer;
    background-color: #76A713;
    color: #ffffff;
  }
  
  .featured-right-button {
    border: none;
    border: 1px solid #76A713;
    cursor: pointer;
  }