.testimonials {
    display: flex;
}

.testimonials__bg {
    width: 100%;
    min-width: 1111px;
    height: 740px;
    background-image: linear-gradient(to right, white 60%, rgba(118, 167, 19, 0.3)40%);
    z-index: -1;
} 


.testimonials__left {
    margin-top: 200px;
    width:40%;
    height: 540px;
    background-color: #ff6600;
}

.testimonials__left-img {
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 165px;
}