.feature-box {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    margin-bottom: 80px;
    width: 100%;
  }
  
  .feature__left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    width: 50%;
    height: 300px;
    background-color: #76A713;
    background-image: url(./../images/blueprint.png);
    background-repeat: no-repeat;
  }
  
  .future__left-section {
    padding: 0;
    margin: 0;
  }
  
  .feature__left-text {
    width: 196px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  
  .feature__left-heading {
    width: 207px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
    color: #FFFFFF;
  }
  
  .feature__left-link {
    width: 110px;
    height: 40px;
    padding: 11px 19px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    background-color: #FF6600;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .feature__left-link:hover {
    color: #FF6600;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
  }
  .feature__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    width: 50%;
    height: 300px;
    background-color: #FF6600;
    background-image: url(./../images/fruits-vegetables.png);
    background-repeat: no-repeat;
  }
  .feature__right-text {
    width: 165px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  
  .feature__right-heading {
    width: 196px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
    color: #FFFFFF;
  }
  
  
  .feature__right-link {
    width: 110px;
    height: 40px;
    padding: 11px 19px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background-color: #76A713;
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .feature__right-link:hover {
    color: #76A713;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
  }