.funfact {
  margin-top: 100px;
  margin-bottom: -120px;
}

.funfact__section {
  background-color: #76a713;
  background-image: url(./../images/funfact-bg.png);
  background-repeat: no-repeat;
  height: 291px;
}

.funfact__list {
  margin-left: 30px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  list-style: none;
  color: #ffffff;
}

.funfakt__heading {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 78px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}

.funfakt__span {
  font-family: "Oswald";
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
}
