.lates {
    padding-bottom: 400px;
    &__heading {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }

    &__blog {
    }
    
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    
    &__item {
        margin-right: 27px;
        border: 1px solid #DDDDDD;

        &-active {
            border: 1px solid #DDDDDD;
            box-shadow: 0px 16px 45px rgba(0, 0, 0, 0.1);
        }

        &:hover {
            box-shadow: 0px 16px 45px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        &__meta-list {
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 15px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            &__admin {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &::before {
                    content: "";
                    margin-right: 8px;
                    background-image: url(./../../images/admin.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 12px;
                    height: 14px;
                }
            }
            &__services {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &::before {
                    content: "";
                    margin-right: 8px;
                    background-image: url(./../../images/services.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 12px;
                    height: 14px;
                }
            }
            &__comment {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &::before {
                    content: "";
                    margin-right: 8px;
                    background-image: url(./../../images/comment.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 12px;
                    height: 14px;
                }
            }
        }
    }

    &__title {
        width: 269px;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 150%;
        margin-left: 20px;
        &-active {
            color: #76A713;
        }

        &:hover {
            color: #76A713;
            // transition: all 0.3s ease;
        }

    }

    &__line {
        display: inline-block;
        margin: 0;
        margin-top: 1px;
        margin-left: 40px;
        margin-bottom: 50px;
        width: 330px;
        border-top: 1px solid #dddddd;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        line-height: 150%;
        padding: 20px;
    }

    &__data {
        font-size: 11px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        &::before {
            content: "";
            background-image: url(./../../images/kalendar.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 13px;
            height: 14px;
            margin-right: 11px;
        }
    }

    &__more {
        font-size: 13px;
        color: #76A713;
    }

}